# Frontend Configuration
VITE_API_URL=http://localhost:8080

# Backend Configuration (Docker)
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=my_app_db
MYSQL_HOST=db
MYSQL_PORT=3306

# Service Ports
FRONTEND_PORT=8082
BACKEND_PORT=8080
MYSQL_PORT_HOST=3307
PHPMYADMIN_PORT=8086
