:root {

  /*---------------- GLOBAL STYLES ---------------- /

  /*FONTS*/
  --main-font: Arial, Helvetica, sans-serif;

    /* COLORS */
  --primary-color: hsl(229, 75%, 28%);
  --dark-color: #0a0a0a;
  --light-color: #f4f4f9;

  /* SPACING-AND-GAPS */
  --default-spacing: 15px;
  

  /* FONT STYLES */
  --thin: 200;
  --medium: 600;
  --bold: 850;


}



